extends layout

block content
  h1= title
  p.
    <br> Dont login, just use a URL
    <br> Dont save, text is auto-saved
    <br> Dont juggle attached files, edit online with your friends
    <br> Dont lose your content, download with YourURL.zip
    <br> Dont forget, you can use yourURL/yourFolder/yourSubfolder
    <br> DontcopyToledo!
